@using Syncfusion.EJ2
@model CreateBookingDto

@{
    ViewData["Title"] = "Booking";
    Layout = null;
}

@await Component.InvokeAsync("_UILayoutHeaderComponentPartial")
@await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
<section class="home-section home-full-height bg-dark-30" id="home" data-background="/TitanTheme/live/assets/images/background.jpg">
    <div class="module">
        <div class="container">
            <div class="row">
                <div class="content-box">
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <form class="reservation-form" id="reservationForm" method="post">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-profile-male"></i></div>
                                            <input class="form-control input-lg" type="text" id="name" placeholder="Name and Surname" required="" asp-for="BookingName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-envelope"></i></div>
                                            <input class="form-control input-lg" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address." asp-for="BookingEmail" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-telephone"></i></div>
                                            <input class="form-control input-lg" type="tel" id="telephone" name="telephone" placeholder="Your Telephone Number" required="required" data-validation-required-message="Please enter your phone number" asp-for="BookingPhone" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-calendar"></i></div>
                                            <input class="form-control input-lg" id="date" type="date" name="date" placeholder="dd/mm/yyyy" required="" asp-for="BookingDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-clock"></i></div>
                                            <select class="form-control input-lg" id="time" name="time" type="text" required="required">
                                                <option value="time" disabled="" selected="">Select Time</option>
                                                <option value="1.30">1:30 pm</option>
                                                <option value="3.00">3:00 pm</option>
                                                <option value="4.30">4:30 pm</option>
                                                <option value="6.00">6:00 pm</option>
                                                <option value="7.30">7:30 pm</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="icon-telephone"></i></div>
                                            <input class="form-control input-lg" type="text" id="message" name="message" placeholder="Your Message" required="required" data-validation-required-message="Please enter your message here" asp-for="BookingMessage" />
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <button class="btn btn-g btn-round btn-block btn-lg mt-20" id="rfsubmit" type="submit"><i class="fa fa-paper-plane-o"></i> Reserve</button>
                                    </div>
                                    
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
@await Component.InvokeAsync("_UILayoutFooterComponentPartial")

@await Component.InvokeAsync("_UILayoutScriptComponentPartial")
