
@{
    Layout = null;
}
@await Component.InvokeAsync("_UILayoutHeaderComponentPartial")
@await Component.InvokeAsync("_UILayoutNavbarComponentPartial")
<section class="home-section home-full-height bg-dark-30" id="home" data-background="/TitanTheme/live/assets/images/section-5.jpg">
    <div class="module">
        <div class="container">
            <div class="row">
                <div class="content-box">
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div>

                                        <div class="input-group date" id="id_1">
                                            <input type="text" value="05/16/2018 11:31:00" class="form-control" required />
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            </span>
                                        </div>
                                     
                                    </div>
                                  

                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
</section>
@await Component.InvokeAsync("_UILayoutFooterComponentPartial")

@await Component.InvokeAsync("_UILayoutScriptComponentPartial")
