
@{
    ViewData["Title"] = "UIIndex";
    Layout = "~/Views/UILayout/Index.cshtml";
}

    
        
            <div class="content-box-image"><img src="/TitanTheme/live/assets/images/post-2.jpg" alt="Title 1" /></div>
            <h3 class="content-box-title font-serif">Title 1</h3>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.

  



